<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <ros2_control name="PathFinderRobot" type="system">
        <hardware>
            <plugin>diffdrive_arduino/DiffDriveArduino</plugin>
            <param name="left_wheel_name">left_wheel_joint_2</param>
            <param name="right_wheel_name">right_wheel_joint_2</param>
            <param name="device">/dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0</param>
            <param name="loop_rate">30</param>
            <param name="baud_rate">115200</param>
            <param name="timeout">1000</param>
            <param name="enc_counts_per_rev">1632</param>
        </hardware>
    </ros2_control>

</robot>